.signUp__form,
.login__form {
  width: 30vw;
  text-align: center;
}
.login,
.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__carouselContainer {
  height: 590px;
  width: 441px;
  object-fit: contain;
  margin-right: 50px;
  position: relative;
}

.login__imgCarousel {
  position: absolute;
  height: 423px;
  width: 241px;
  top: 93px;
  left: 143px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 6px -10px black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.navbar__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__left {
  cursor: pointer;
}
.navbar__right div {
  margin: 0 10px;
}
.navbar__right .MuiSvgIcon-root,
.navbar__right .MuiAvatar-root {
  height: 40px !important;
  width: 40px !important;
  object-fit: contain;
  cursor: pointer;
}
.uploadFile__alert {
  display: grid !important;
  place-items: center !important;
}
.uploadFile__uploadBtn {
  display: grid !important;
  place-items: center !important;
  margin-top: 20px !important;
}
.upload__progress {
  width: 30vw;
  margin: 0 auto;
  margin-top: 20px;
}
.posts__loader,
.posts__videoContainer {
  display: grid;
  place-items: center;
}
.posts__videoContainer {
  height: 60vh;
  background-color: white;
  /* to scroll only the videos not the full page */
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.posts__videos video {
  border-radius: 20px;
  margin: 5px 0;
}
.posts__videos {
  position: relative;
}
.posts__userInfo {
  position: absolute;
  bottom: 50px;
  left: 10px;
  z-index: 100;
}
.posts__userInfo h4 {
  color: white;
  margin-left: 7px;
}
/* with this the next video full fit to the container height
    as soon as the next half video is visible it will scroll to next video
*/
.videos {
  width: 100%;
  height: 60vh;
  scroll-snap-align: start;
}
.like__likeIcon {
  position: absolute;
  bottom: 4%;
  left: 10%;
}
.like {
  cursor: pointer;
  color: red;
}
.unlike {
  cursor: pointer;
  color: white;
}
.unlike2 {
  color: black;
  cursor: pointer;
}
.posts__commentIcon {
  position: absolute;
  bottom: 4%;
  left: 30%;
  cursor: pointer;
  color: white;
}

.modal__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal__videoContainer,
.modal__commentsContainer {
  width: 50%;
  height: 100%;
}
.modal__video {
  width: 100%;
  height: 100%;
}
.modal__video video {
  height: 84vh;
  padding: 10px;
  border-radius: 20px;
}
.modal__commentsContainer {
  margin: 10px;
}

.profile__container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
}
.profile__info p {
  font-size: 30px;
}
.profile__videos video {
  width: 20vw;
  margin: 5px 0;
  border-radius: 20px;
}
.profile__videos {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/*  */
@media (max-width: 450px) {
  .signUp__form,
  .login__form {
    width: 80vw;
  }
  .login,
  .signUp {
    height: 60vh;
  }
  .login,
  .signUp {
    display: grid;
    place-items: center;
  }

  .login__carouselContainer {
    height: 490px;
    width: 341px;
  }

  .login__imgCarousel {
    height: 300px;
    width: 200px;
    top: 75px;
    left: 115px;
  }
}
