.signUp__form,
.login__form {
  width: 30vw;
  text-align: center;
}
.login,
.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__carouselContainer {
  height: 590px;
  width: 441px;
  object-fit: contain;
  margin-right: 50px;
  position: relative;
}

.login__imgCarousel {
  position: absolute;
  height: 423px;
  width: 241px;
  top: 93px;
  left: 143px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 6px -10px black;
}
.navbar__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__left {
  cursor: pointer;
}
.navbar__right div {
  margin: 0 10px;
}
.navbar__right .MuiSvgIcon-root,
.navbar__right .MuiAvatar-root {
  height: 40px !important;
  width: 40px !important;
  object-fit: contain;
  cursor: pointer;
}
.uploadFile__alert {
  display: grid !important;
  place-items: center !important;
}
.uploadFile__uploadBtn {
  display: grid !important;
  place-items: center !important;
  margin-top: 20px !important;
}
.upload__progress {
  width: 30vw;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 450px) {
  .signUp__form,
  .login__form {
    width: 80vw;
  }
  .login,
  .signUp {
    height: 60vh;
  }
  .login,
  .signUp {
    display: grid;
    place-items: center;
  }

  .login__carouselContainer {
    height: 490px;
    width: 341px;
  }

  .login__imgCarousel {
    height: 300px;
    width: 200px;
    top: 75px;
    left: 115px;
  }
}
